# NPM
/**/package-lock.json
/**/node_modules/
/**/aero-proxy-*.tgz
/**/aero-sandbox-*.tgz
## For NixOS
mutable_node_modules

# Rspack
/**/dist/

# aero

# aero dev server
dev_server/

# Unreleased features (Not finished) 👀
