# NPM
/**/package-lock.json
/**/node_modules/
/**/aero-proxy-*.tgz
/**/aero-sandbox-*.tgz
## For NixOS
mutable_node_modules

# Builds
/**/dist/
/tests/aero

# aero
# aero dev server
dev-server/
# aero test pkgs
/**/testPkgs/

# WPT test suite
tests/browser/wpt-diff/wpt/

# Unreleased features (Not finished) 👀
