root = true

[*]
charset = utf-8
insert_final_newline = false
end_of_line = lf
indent_style = space
indent_size = 2

[*.{md,xit}]
trim_trailing_whitespace = true

[*.ts]
indent_style = "tab"
indent_size = 4